<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- Webjobs does not support the storage emulator, you need to use an Azure storage blob -->
    <add name="AzureJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=XXX;AccountKey=XXX"/>
    <add name="AzureJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=XXX;AccountKey=XXX"/>
  </connectionStrings>
  <appSettings>
    <add key="BlobContainerName" value="azure-search-files"/>
    <add key="SearchUrl" value="https://XXX.search.windows.net"/>
    <add key="IndexName" value="products"/>
    <add key="AdminApiKey" value="XXX" />
    <add key="ApiVersion" value="2014-07-31-Preview"/>
  </appSettings>
</configuration>